body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgContainer{
  position : relative;
  overflow: hidden;
}

.imgContainer img {
  width : 80%;
}
.tag{
 
  z-index: 100;
  padding : 7px 7px;
  border-radius: 10px;
  position : absolute;
  background-color: blueviolet;
  font-size: 13px;
  max-width : 200px;
}

.growLeft {
  padding : 2px 15px;
  border-radius: 10px;
  transform-origin: 50% 50%;

}

.growRight {
  padding : 2px 15px;
  border-radius: 10px;
  transform-origin: 90% 50%;
  transform : translate(-80%,0);
}





  
